.results_container {
    flex-grow: 1;
    flex-basis: 100%;
    margin: .5rem 0;
    width: 100%;
}

@media screen and (min-width:1024px) {
    .results_container {
        order: 1;
    }
}

.results_container * {
    font-family: "Inter", sans-serif;
}

.results_title {
    color: var(--text-dark);
    margin: 0 0 1.5rem 0;
    font-size: var(--text-lg);
}

/* Fact cards */
.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    align-items: center;
    justify-content: center;
    gap: 4px 1rem;
}

.card_item {
    --color-primary: rgba(76, 112, 124, 0.65);
    --color-primary-darker: rgba(76, 112, 124, .75);
    display: grid;
    grid-template-columns: 1.25fr 4fr;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    border: 1px solid rgba(76, 112, 124, .25);
    opacity: 0;
    text-wrap: nowrap;
    transform: translate(-10%);
}

.card_item:global(.animate) {
    animation: 300ms linear forwards slide-to-right;
}

.card_item:nth-child(1) {
    animation-delay: 100ms;
}

.card_item:nth-child(2) {
    animation-delay: 200ms;
}

.card_item:nth-child(3) {
    animation-delay: 300ms;
}

@keyframes slide-to-right {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card_body {
    padding: min(1rem, 3vw) min(1.5rem, 4vw);
}

.card_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    padding: min(1rem, 3vw);
    background-color: rgba(76, 112, 124, 0.35);
}

.card_image>svg {
    color: var(--white);
    filter: drop-shadow(-2px 2px 3px rgba(76, 112, 124, .15));
    font-size: clamp(2rem, 5vw, 2.5rem);
    opacity: 0.95;
}

.card_title {
    color: var(--color-primary);
    font-size: var(--text-sm);
    margin: 0 0 .5rem 0;
}

.card_text {
    color: var(--color-primary-darker);
    font-size: var(--text-md);
}

/* Balance */
.final_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 100%;
    transform: translateY(-5%);
    opacity: 0;
}

.final_container:global(.animate) {
    animation: 300ms 700ms linear forwards slide-down;
}

@keyframes slide-down {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.final_image {
    background-color: var(--color-secondary);
    padding: min(1rem, 3vw);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.final_image>svg {
    color: var(--white);
    font-size: clamp(2rem, 5vw, 2.8rem);
}

.final_body {
    margin-left: min(1.5rem, 3vw);
}

.final_top {
    color: var(--color-secondary);
    font-size: var(--text-md);
    margin: 0;
    opacity: 0.85;
}

.final_text {
    display: block;
    color: var(--color-primary);
    font-size: clamp(1.2rem, 3.5vw, 2.2rem);
    margin: .25rem 0;
}

.final_bottom {
    color: var(--color-secondary);
    font-size: var(--text-sm);
    font-weight: 600;
    margin: 0;
    opacity: 0.65;
}