:global(.error) .input_container,
:global(.error) .input_container:focus-within {
    box-shadow: none;
    outline: 1.5px solid var(--color-error);
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
    gap: .8rem;
    max-width: 100%;
}

.input_label {
    display: block;
    color: var(--text-dark);
    font-size: var(--text-sm);
    font-weight: 600;
}

.input_container {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--input-bg);
    padding: .5rem;
    border-radius: .5rem;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 0 4px 2px transparent;
    outline: 1.5px solid transparent;
    opacity: .75;
    transition: box-shadow .6s ease, opacity .6s ease, outline .6s ease;
}

.input_container:focus-within {
    box-shadow: var(--input-focus-shadow);
    opacity: 1;
}

.money_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.money_symbol>svg {
    fill: var(--text-secondary);
    font-size: var(--text-md);
}

.input {
    color: var(--color-secondary);
    font-size: var(--text-md);
    font-weight: 600;
    letter-spacing: 1.5px;
    appearance: none;
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    outline: none;
}

:global(.radio_children) .input {
    color: var(--text-secondary);
}

.input::placeholder {
    color: var(--text-secondary);
}