.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(1.5rem, 4vw);
    padding: min(2rem, 5vw) min(1.5rem, 5vw);
    width: 100%;
    max-height: fit-content;
}

.inputs_container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1.5rem 2.5rem;
    width: 100%;
}

.multi_input {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 300px;
}

.multi_input:global(>.child) {
    padding-left: 1rem;
    flex-basis: auto;
}

.multi_input:global(>.child label),
.multi_input:global(>.child >div>label),
.multi_input:global(>.child >div>span) {
    color: var(--text-secondary);
    font-size: var(--text-sm);
}

.number_input_container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: max(.5rem, 2vw);
}

.annual_interest_container {
    display: flex;
    flex-grow: 1;
    flex-basis: 250px;
}

.error_text {
    text-align: center;
    margin: 0;
    color: var(--color-error);
    font-size: var(--text-sm);
    transform: translateX(-10%) rotate(-3deg);
    transition: transform .3s ease;
}

.error_text:global(.show) {
    transform: translateX(0) rotate(0);
}