.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 75px;
    border-bottom: 2px solid rgba(17, 138, 178, 0.1);
    padding: 1.2rem 2rem;
    box-sizing: border-box;
}

.logo {
    width: clamp(120px, 20vw, 175px);
}

.nav_list {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav_link {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--text-sm);
    padding: .8rem;
    opacity: .65;
    transition: opacity .3s ease
}

.nav_link:hover {
    opacity: 1;
}

.nav_link:global(.active) {
    box-shadow: 0 0 5px 3px rgba(17, 138, 178, 0.15);
    border-radius: 10px;
    opacity: 1;
}