.container {
    width: 100%;
    height: auto;
}

.table_container {
    position: relative;
    padding-bottom: 3rem;
    overflow-x: auto;
}

.table {
    width: 100%;
    height: max-content;
}

.table * {
    font-size: var(--text-xs);
}

.table:global(>tbody>tr:hover >td:before) {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 138, 178, 0.1);
}

/* Table Headers */
.table:global(>thead>tr>th),
.table:global(>tbody>tr:last-of-type>td) {
    color: var(--white);
    font-weight: 500;
    background-color: rgba(76, 112, 124, 0.5);
    padding: .6rem;
}

/* Table Body */
.table:global(>tbody>tr>td) {
    position: relative;
    border-top: 1px solid rgba(17, 138, 178, 0.25);
    color: rgba(76, 112, 124, 0.5);
    /* font-size: .; */
    font-weight: 400;
    text-align: center;
    background-color: var(--white);
    padding: .6rem;
}

/* Balance Column */
.table:global(>thead>tr>th:last-of-type),
.table:global(>tbody>tr:last-of-type>td:last-of-type) {
    background-color: rgba(184, 86, 162, 0.5);
    color: var(--white);
}

.table:global(>tbody>tr>td:last-of-type) {
    background-color: rgba(184, 86, 162, 0.05);
    color: rgba(184, 86, 162, 0.55);
}

/* Accr. Interest Column */
.table:global(>thead>tr>th:nth-of-type(5)),
.table:global(>tbody>tr:last-of-type>td:nth-of-type(5)) {
    background-color: rgba(9, 171, 152, 0.5);
    color: var(--white)
}

.table:global(>tbody>tr>td:nth-of-type(5)) {
    background-color: rgba(41, 230, 208, 0.05);
    color: rgba(9, 171, 152, 0.55);
}

/* Accr. Deposits Column */
.table:global(>thead>tr>th:nth-of-type(3)),
.table:global(>tbody>tr:last-of-type>td:nth-of-type(3)) {
    background-color: rgba(17, 172, 196, 0.5);
    color: var(--white);
}

.table:global(>tbody>tr>td:nth-of-type(3)) {
    background-color: rgba(51, 228, 255, 0.05);
    color: rgba(17, 172, 196, 0.55);
}

/* Init. Amount */
.table:global(>thead>tr>th:nth-of-type(2)),
.table:global(>tbody>tr:last-of-type>td:nth-of-type(2)) {
    background-color: rgba(66, 133, 173, 0.5);
    color: var(--white);
}

.table:global(>tbody>tr>td:nth-of-type(2)) {
    background-color: rgba(51, 228, 255, 0.05);
    color: rgba(66, 133, 173, 0.55);
}

/* Pagination Buttons */
.table_pagination {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    bottom: 1.5rem;
    left: 0;
    transform: translateY(50%);
}

.table_pagination:global(>button) {
    appearance: none;
    border: none;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: var(--text-xs);
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.table_pagination:global(>button:disabled) {
    pointer-events: none;
    opacity: 0.35;
}

.table_pagination .btn_inner {
    background-color: rgba(51, 228, 255, 0.15);
    color: rgba(9, 171, 152);
}

@media screen and (min-width:674px) {
    .table * {
        font-size: var(--text-sm)
    }

    .table:global(>tbody>tr>td) {
        font-size: .8rem;
    }

    .table_pagination:global(>button) {
        font-size: var(--text-sm);
        height: 1.8rem;
        width: 1.8rem;
    }
}