.footer {
    background: linear-gradient(to bottom, var(--color-primary) 0%, #2AB8A7 100%);
    padding: min(1.8rem, 4vw);
    margin-top: 2rem;
}

.footer * {
    color: var(--white);
    font-family: "Inter", sans-serif;
}

.top_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(250, 250, 250, 0.25);
    margin-bottom: min(1.5rem, 3.5vw);
    padding-bottom: min(1.5rem, 3.5vw);
}

/* Social links */
.social_media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: min(1.4rem, 4vw);
}

.social_link {
    opacity: 0.8;
    transition: opacity .3s ease;
}

.social_link:hover {
    opacity: 1;
}

.social_link:global(>svg) {
    fill: var(--white);
    font-size: clamp(1rem, 3vw, 1.65rem);
}

.copyright {
    display: block;
    font-size: var(--text-sm);
    margin: auto;
    text-align: center;
    opacity: 0.5;
}