.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 2rem 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    height: max-content;
}

.box:global(.form-box) {
    width: 100%;
}

.box:global(.graphs-box) {
    padding: 3rem 2rem 0 2rem;
    overflow: hidden;
    width: 100%;
    max-width: 980px;
}